<!DOCTYPE html>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8"/>
	<title></title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<!--[if lte IE 8]> 
	<![endif]-->
	<!--[if IE 8]> 
	<![endif]-->
</head>
<body>
	<p> I wrap the <%= yield %> in a layout</p>
	<p>I'm a var set in the view: <%= @poop %></p>	
	<p>Some bold text set in the view: <%= content_for(:text) %></p>
</body>
</html>