<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8"/>
	<title></title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<!--[if lte IE 8]> 
	<![endif]-->
	<!--[if IE 8]> 
	<![endif]-->
</head>
<body>
	<%= yield %>
</body>
</html>